<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>311877800225-ci8v4r2r8klamokgvvc2s6asbnrjmtvh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.311877800225-ci8v4r2r8klamokgvvc2s6asbnrjmtvh</string>
	<key>API_KEY</key>
	<string>AIzaSyARIEjBfPB1qcAZLDnF9NhzhlcsFtAQD_k</string>
	<key>GCM_SENDER_ID</key>
	<string>311877800225</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ameedsayeh.smartParking</string>
	<key>PROJECT_ID</key>
	<string>smart-parking-nnu</string>
	<key>STORAGE_BUCKET</key>
	<string>smart-parking-nnu.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:311877800225:ios:f70fcf920e377ac80a2e60</string>
	<key>DATABASE_URL</key>
	<string>https://smart-parking-nnu.firebaseio.com</string>
</dict>
</plist>